In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from astropy.table import Table
from astropy.io import fits

In [2]:
df = pd.read_csv('/arc/home/aydanmckay/xmatch/Pristine_CaHK.lamost-dr8-gaiaedr3.csv',usecols=['ra_obs'])
dfl = pd.read_csv('/arc/home/aydanmckay/xmatch/Pristine_CaHK.lamost-lrs-dr7v2.csv',usecols=['ra_obs'])
dfm = pd.read_csv('/arc/home/aydanmckay/xmatch/Pristine_CaHK.lamost-mrs-dr7v2.csv',usecols=['ra_obs'])

In [3]:
df.dropna()

              ra_obs
1         180.716654
5         180.790767
32        180.641527
34        180.595980
86        180.611162
...              ...
36057762  189.436903
36059856  190.092603
36060998  190.235716
36061018  190.128502
36061066  190.249666

[1000653 rows x 1 columns]

In [4]:
dfl.dropna()

              ra_obs
1         180.716654
9         180.784274
32        180.641527
33        180.678130
34        180.595991
...              ...
36060994  190.124776
36060998  190.235716
36061018  190.128502
36061066  190.249666
36061554  190.208947

[1488954 rows x 1 columns]

In [5]:
dfm.dropna()

             ra_obs
15925     182.58833
15926     182.60881
15927     182.68752
16360     182.49598
16361     182.56129
...             ...
36253016  202.56083
36253055  202.34834
36253059  202.22745
36253062  202.20578
36264934  254.24937

[129765 rows x 1 columns]

In [6]:
# df.obsid.value_counts()

In [7]:
# df.GAIAID.value_counts()

In [9]:
# df.uqflag.value_counts()

In [10]:
# df.source_id.value_counts()

Okay I think I'll take the gaia xmatched one because I think thats the lamost xmatch thats going to be solely stars.

Now checking to see if I can just import the data to remove the rows without spec

In [11]:
df = Table.read('/arc/home/aydanmckay/xmatch/pristine-lamost-dr8-gaiaedr3.fits')

In [12]:
intersectdata = df[df['ra_obs'].mask == False]

In [15]:
intersectdata.write('/arc/home/aydanmckay/xmatch/pristine-lamost-gaia-inter.fits')

WARNING: UnitsWarning: '[cgs]' did not parse as fits unit: Invalid character at col 0 If this is meant to be a custom unit, define it with 'u.def_unit'. To have it recognized inside a file reader or other code, enable it with 'u.add_enabled_units'. For details, see https://docs.astropy.org/en/latest/units/combining_and_defining.html [astropy.units.core]